<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Demo Test Automation Suit"  >


  <test name="My Demo Test" >
  
  <parameter name="env" value="QA"/>
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="https://login.yahoo.com/"/>
  <parameter name="emailid" value="gauravvaidya13@yahoo.in"/>
  
  <classes>
  	<class name="com.ParameterTest.ParameterTest"/>
  </classes>
    
<!--     <classes> -->
    
<!--   		<class name="com.test.ExeptionalTimeoutTest" /> -->
<!--   		<class name="com.test.GoogleTest" />        -->
<!--         <class name="com.test.GoogleTitleTest" />  -->
<!--         <class name="com.test.InvocationCountTest" />  -->
<!--         <class name="com.test.TeastNGFeature" />  -->
<!--         <class name="com.test.TestNGBasic" />  -->
        
<!--     </classes> -->
    
    
    
    
    
  </test>
 

  
</suite>
	